@import url('https://fonts.google.com/specimen/Lexend+Deca');
@import url('https://fonts.google.com/specimen/Big+Shoulders+Display');

/*---------- Flexbox Layout----------*/
* {
    margin: 0;
    box-sizing: border-box;
}
nav .navbutton{
    background-color: aqua;
    width: 80px;
    margin-left: 10%;
    margin-top: 2.5%;
}
nav .navbutton:hover{
    transform: scale(1.1);
}
a:link{
    text-decoration: none;
}
body{
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}
h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
}
.paragraphs{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-weight: 400;
    padding-top: 5%;
    padding-bottom: 20%;
}
#alldiv{
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 5%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}
img{
    width: 50px;
    height: 50px;
}
#image{
    padding-top: 15%;
}
#sedans{
    background-color: hsl(31, 77%, 52%);
    padding-left: 5%;
    padding-right: 5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#suvs{
    background-color: hsl(184, 100%, 22%);
    padding-left: 5%;
    padding-right: 5%;
}
#luxury{
    background-color: hsl(179, 100%, 13%);
    padding-left: 5%;
    padding-right: 5%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button{
    padding-bottom: 10%;
}
button{
    width: 60%;
    height: 3em;
    font-family: 'Lexend Deca';
    font-weight: 400;
    border: 1px solid;
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
}
.sedansdivbutton{
    color: hsl(31, 77%, 52%);
}
.suvsdivbutton{
    color: hsl(184, 100%, 22%);
}
.luxurydivbutton{
    color: hsl(179, 100%, 13%);
}
.sedansdivbutton:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
.suvsdivbutton:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
.luxurydivbutton:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}


/*---------- Grid Layout----------*/
.main{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto ;
    grid-template-rows: 100px 100px 100px 100px;
    margin-top: 5.5%;
    margin-left: 20%;
    margin-right: 20%;
}

main div{
    padding: 2em;
    text-align: center;
}
#gridlayout .grid_a{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}
#gridlayout .grid_b{
    background-color: firebrick;
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
}
#gridlayout .grid_c{
    background-color: indigo;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}
#gridlayout .grid_d{
    background-color: deeppink;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 3;
    
}
#gridlayout .grid_e{
    background-color: hotpink;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 4;
}





@media screen and (max-width:375px){
    #alldiv{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 0%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #sedans{
        padding-left: 10%;
        padding-right: 10%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }
    #suvs{
        padding-left: 10%;
        padding-right: 10%;
    }
    #luxury{
        padding-left: 10%;
        padding-right: 10%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 0px;
    }
}